 @inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="false" Theme="myTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>   

    <MudAppBar Color="Color.Primary" Fixed="false">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => OpenDrawer(Anchor.Start))" />

        <MudText Typo="Typo.h6">CA - Acadêmico</MudText>        

        <MudSpacer />

        <AuthorizeView>
            <Authorized>              
                <p class="my-3 me-3">Olá!</p>
                <MudButton Color="Color.Inherit" OnClick="Logout" Variant="Variant.Text">
                    Logout
                </MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Color="Color.Inherit" Variant="Variant.Text">
                    <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Inherit" Href="Login" /> Login
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
        
    </MudAppBar>  

    <MudDrawer @bind-Open="@_open" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@_overlayAutoClose">
        <NavMenu>

        </NavMenu>
    </MudDrawer>

    <MudMainContent Class="main-content pa-2">
        @Body
    </MudMainContent>

</MudLayout>

@inject AuthenticationStateProvider provider
@inject NavigationManager navigationManager

@code {

    private bool _open = false;    
    private Anchor _anchor;
    private bool _overlayAutoClose = true;   

    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;
    }

    private async void Logout()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;

        await authStateProvider.Logout();

        navigationManager.NavigateTo("/login");
    }

    private MudTheme myTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
                Primary = "#4e097b",
                TextPrimary = "#000000",
                Secondary = "#FF4081",
            Background = "#FFFFFF",
            AppbarBackground = "#FFFFFF",
            DrawerBackground = "#FFFFFF",
            Surface = "#FFFFFF",            
            TextSecondary = "#B0BEC5"            
        }
    };

}